.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    padding-bottom: 40px;
}

p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}