/* You can add global styles to this file, and also import other style files */
/* Design av meny för mobilenheter, placeras till höger om skärmen */
* {
    font-family: "Jersey 20", sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.3rem;
}

main {
    min-height: 100vh;
    background-color: rgb(29, 93, 127);
}


h1 {
    text-align: center;
    padding-top: 90px;
    color: tomato;
    margin-bottom: 20px;
    font-size: 1.5em;
}

