<h1>Startsida</h1>
<div class="text-container">
    <p>Välkommen till denna webbplats för kursen <b><i>DT208G Programmering i TypeScript</i></b></p><br>
    <p>Denna webbplats innehåller en sida där du kan konvertera enheter, från celcius till farenheit och vice versa,
        samt från meter till foot och vice versa. Utöver detta så kan du läsa om min upplevelse och mitt
        tillvägagångssätt med Angular som ramverk.</p>
</div>

<picture class="pic-container">
    <img ngSrc="assets/img/angularpic.jpg" width="300" height="100" priority alt="Bild på kod">
</picture>